<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Identity Manager for SOUP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Santiago Saavedra">

    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/dashboard/_design/dashboard/_rewrite/_topbar.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>

    <script type="text/javascript" src="{{baseURL}}/static/js/json2.js"></script>
    <script type="text/javascript" src="{{baseURL}}/modules.js"></script>

    <script type="text/javascript" src="{{baseURL}}/duality.js"></script>

    <!--
   <script src="{{baseURL}}/static/js/angular.js"></script>
   <script src="{{baseURL}}/static/js/angular-cornercouch.js"></script>
    -->

  <script type="text/javascript" src="{{baseURL}}/static/js/underscore.js"></script>
  <script type="text/javascript" src="{{baseURL}}/static/js/backbone.js"></script>
  <script type="text/javascript" src="{{baseURL}}/static/js/backbone.marionette.js"></script>
  <script type="text/javascript" src="{{baseURL}}/static/js/backbone-couchdb.js"></script>
  <script type="text/javascript" src="{{baseURL}}/static/js/app.js"></script>

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="main">

      {{{content}}}

    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/dashboard/_design/dashboard/_rewrite/static/js/topbar.js"></script>

  <script type="text/javascript" src="{{baseURL}}/static/js/sha1.js"></script>
  <script type="text/javascript" src="{{baseURL}}/static/js/jquery.couchLogin.min.js"></script>
  <script type="text/javascript" src="{{baseURL}}/static/js/jquery.upopup.js"></script>
  <script type="text/javascript" src="{{baseURL}}/static/js/jquery.couch.js"></script>


  <script type="text/javascript">
  var _baseURL = window._baseURL = '{{baseURL}}';
  </script>


  </body>
</html>
