<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Identity Manager for SOUP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Santiago Saavedra">

    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/dashboard/_design/dashboard/_rewrite/_topbar.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>

    <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/json2.js"></script>
    <script type="text/javascript" src="/identity/_design/identity/_rewrite/modules.js"></script>

    <script type="text/javascript" src="/identity/_design/identity/_rewrite/duality.js"></script>

    <!--
   <script src="/identity/_design/identity/_rewrite/static/js/angular.js"></script>
   <script src="/identity/_design/identity/_rewrite/static/js/angular-cornercouch.js"></script>
    -->

  <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/underscore.js"></script>
  <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/backbone.js"></script>
  <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/backbone.marionette.js"></script>
  <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/backbone-couchdb.js"></script>
  <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/app.js"></script>

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="main">

      <div class="container" ng-controller="ctrlIdentity">

<h1>New Identity</h1>

<p class="help">Instructions: in order to create a new identity you should select a nick (for your own authentication) and a password for your private key. If you choose to distribute your encrypted private key we recommend you choose a very strong password.</p>

<div id="create_identity"></div>

<script type="text/html" id="identity_form_template">

<form id="new_identity" action="../_update/new_id" method="POST" ng-submit="submitEntry()">

<label for="nick">Nick</label>
<input type="text" value="<%- nick %>" required="required" />

<label for="bits">Bits</label>
<input type="text" value="<%- bits %>" required="required" />

<label for="pubkey">Public key</label>
<textarea name="pubkey"><%- pubkey %></textarea>

<label for="privkeyu">Private key</label>
<textarea name="privkeyu"><%- privkeyu %></textarea>

<label for="pwprivkey">Password for private key</label>
<textarea name="pwprivkey"><%- pwprivkey %></textarea>


<textarea name="privkey"><%- privkey %></textarea>

<label for="distpriv">Distribute private key</label>
<input type="checkbox" name="distpriv" value="<%- distpriv %>" />


<input type="button" class="generate" value="Generate key pair" />

<input type="submit" value="Create" />
</form>

</script>

<script type="text/javascript">
	$(function() {

		var new_identity = new require('lib/models').identity;

		var IdentityFormView =  Backbone.View.extend({
			tagName: "div",

			template: _.template($('#identity_form_template').html()),

			events: {
				"click input[type=submit]": "save",
				"click input.generate": "generateKeyPair"
			},

			initialize: function() {
				this.listenTo(this.model, 'change', this.render);
				this.listenTo(this.model, 'destroy', this.remove);
			},

			generateKeyPair: function() {
				console.log("Not implemented yet", this);
			},

			save: function() {
				console.log("Has to talk to CouchDB");
			},

			render: function() {
				this.$el.html(this.template(this.model.toJSON()));
				return this;
			}
		});

		var AppView = Backbone.View.extend({
			el: $("#create_identity"),
			initialize: function() {
				$("#create_identity").html((new IdentityFormView({
					model: new_identity
				})).render().el);
			}
		});


		new AppView();

});
</script>


    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/dashboard/_design/dashboard/_rewrite/static/js/topbar.js"></script>

  <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/sha1.js"></script>
  <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/jquery.couchLogin.min.js"></script>
  <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/jquery.upopup.js"></script>
  <script type="text/javascript" src="/identity/_design/identity/_rewrite/static/js/jquery.couch.js"></script>


  <script type="text/javascript">
  var _baseURL = window._baseURL = '/identity/_design/identity/_rewrite';
  </script>


  </body>
</html>
