<div class="container" ng-controller="ctrlIdentity">

<h1>{{form_title}}</h1>

<p class="help">Instructions: in order to create a new identity you should select a nick (for your own authentication) and a password for your private key. If you choose to distribute your encrypted private key we recommend you choose a very strong password.</p>

<div id="create_identity"></div>

<script type="text/html" id="identity_form_template">

<form id="new_identity" action="{{action}}" method="{{method}}" ng-submit="submitEntry()">

<label for="nick">Nick</label>
<input type="text" name="nick" value="<%- nick %>" required="required" />

<label for="bits">Bits</label>
<input type="text" name="bits" value="<%- bits %>" required="required" />

<label for="pwprivkey">Password for private key</label>
<input type="password" name="pwprivkey" value="<%- pwprivkey %>" />

<label for="pubkey">Public key</label>
<textarea name="pubkey" placeholder="-----BEGIN RSA PUBLIC KEY ------"><%- pubkey %></textarea>

<label for="privkeyu">Private key</label>
<textarea name="privkeyu"><%- privkeyu %></textarea>


<textarea name="privkey"><%- privkey %></textarea>

<label for="distpriv">Distribute private key</label>
<input type="checkbox" name="distpriv" value="<%- distpriv %>" />

<br />

<input type="button" class="generate" value="Generate key pair" />

<input type="submit" value="{{button}}" />
</form>

</script>

<script type="text/javascript">
	$(function() {
		var models = require('lib/models');
		var RSA = RSAKey || require('jsbn/rsapem').RSAKey;
		var pubExp = 1001;

		var new_identity = new models.identity;

		var IdentityFormView =  Backbone.View.extend({
			tagName: "div",

			template: _.template($('#identity_form_template').html()),

			events: {
				"change input[type=text]": "updateModel",
				"change input[type=password]": "encryptPrivateKey",
				"click input[type=submit]": "save",
				"click input.generate": "generateKeyPair"
			},

			initialize: function() {
				this.listenTo(this.model, 'change', this.render);
				this.listenTo(this.model, 'destroy', this.remove);
			},

			generateKeyPair: function() {
				var key = new RSA();
				console.log("Requested bits: ", this.model.get("bits"));
				setTimeout((function(model) {
						return function() {
						key.generate(model.get("bits"), pubExp);
						window.key = key;
						console.log("Generated", key.prv2PEM());
				}})(this.model), 10);
				console.log("In course...", this);
			},

			save: function() {
				console.log("Has to talk to CouchDB");
			},

			render: function() {
				this.$el.html(this.template(this.model.toJSON()));
				return this;
			},

			updateModel: function(e) {
				this.model.set(e.target.name, e.target.value);
				console.log("Triggered updateModel event.");
				console.log(e.target.name, e.target.value);
			},

			encryptPrivateKey: function(e) {
				console.log("Triggered encryptPrivateKey event.", e);
			}
		});

		var AppView = Backbone.View.extend({
			el: $("#create_identity"),
			initialize: function() {
				$("#create_identity").html((new IdentityFormView({
					model: new_identity
				})).render().el);
			}
		});


		new AppView();

});
</script>
