<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Identity Manager for SOUP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Santiago Saavedra">

    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/dashboard/_design/dashboard/_rewrite/_topbar.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/json2.js"></script>


  <script type="text/javascript" src="../packages/backbone-kanso/static/js/underscore.js"></script>
  <script type="text/javascript" src="../packages/backbone-kanso/static/js/backbone.js"></script>


    <script type="text/javascript" src="http://127.0.0.1:5984/identity/_design/identity/_rewrite/modules.js"></script>

    <script type="text/javascript" src="http://127.0.0.1:5984/identity/_design/identity/_rewrite/duality.js"></script>

	<script type="text/javascript">
		var exports = {};
		exports.BigNumber = {};
		exports.SecureRandom = {};
	</script>

    <script type="text/javascript" src="../packages/jsbn/jsbn/asn1.js"></script>
    <script type="text/javascript" src="../packages/jsbn/jsbn/base64.js"></script>
    <script type="text/javascript" src="../packages/jsbn/jsbn/prng4.js"></script>
    <script type="text/javascript" src="../packages/jsbn/jsbn/rng.js"></script>
    <script type="text/javascript" src="../packages/jsbn/jsbn/jsbn.js"></script>
    <script type="text/javascript" src="../packages/jsbn/jsbn/jsbn2.js"></script>
    <script type="text/javascript" src="../packages/jsbn/jsbn/asn1hex.js"></script>
    <script type="text/javascript" src="../packages/jsbn/jsbn/rsa.js"></script>
    <script type="text/javascript" src="../packages/jsbn/jsbn/rsa2.js"></script>
    <script type="text/javascript" src="../packages/jsbn/jsbn/rsapem.js"></script>

   	<script type="text/javascript">
   	delete exports;
   	</script>

    <!--
   <script src="../static/js/angular.js"></script>
   <script src="../static/js/angular-cornercouch.js"></script>
    -->

	<script type="text/javascript">
	$(function() {
		console.log(window);
		console.log(Backbone);
	})
	</script>


  <script type="text/javascript" src="http://127.0.0.1:5984/identity/_design/identity/_rewrite/static/js/backbone.marionette.js"></script>
  <script type="text/javascript" src="http://127.0.0.1:5984/identity/_design/identity/_rewrite/static/js/backbone-couchdb.js"></script>
  <script type="text/javascript" src="http://127.0.0.1:5984/identity/_design/identity/_rewrite/static/js/app.js"></script>

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="main">

      <div class="container" ng-controller="ctrlIdentity">

<h1>{{form_title}}</h1>

<p class="help">Instructions: in order to create a new identity you should select a nick (for your own authentication) and a password for your private key. If you choose to distribute your encrypted private key we recommend you choose a very strong password.</p>

<div id="create_identity"></div>

<script type="text/html" id="identity_form_template">

<form id="new_identity" action="{{action}}" method="{{method}}" ng-submit="submitEntry()">

<label for="nick">Nick</label>
<input type="text" value="<%- nick %>" required="required" />

<label for="bits">Bits</label>
<input type="text" value="<%- bits %>" required="required" />

<label for="pubkey">Public key</label>
<textarea name="pubkey"><%- pubkey %></textarea>

<label for="privkeyu">Private key</label>
<textarea name="privkeyu"><%- privkeyu %></textarea>

<label for="pwprivkey">Password for private key</label>
<textarea name="pwprivkey"><%- pwprivkey %></textarea>


<textarea name="privkey"><%- privkey %></textarea>

<label for="distpriv">Distribute private key</label>
<input type="checkbox" name="distpriv" value="<%- distpriv %>" />


<input type="button" class="generate" value="Generate key pair" />

<input type="submit" value="{{button}}" />
</form>

</script>

<script type="text/javascript">
	$(function() {

		var models = require('lib/models');
		var RSA = RSAKey || require('jsbn/rsapem').RSAKey;
		var pubExp = 1001;

		var identity = Backbone.Model.extend({
			defaults: function() {
				return {
					bits: 2048,
					nick: 'unnamed',
					pubkey: '',
					privkey: '',
					privkeyu: '',
					pwprivkey: '',
					distpriv: false
				};
			},

			initialize: function() {
				if(!this.get("bits"))
					this.set({"bits": this.defaults().bits});
				if(!this.get("nick"))
					this.set({"nick": this.defaults().nick});
			},

			generate: function() {
				console.log('Not yet implemented.');
			}
		});

		var identityList = Backbone.Collection.extend({

			model: identity,

		});

		var new_identity = new identity;


		var IdentityFormView =  Backbone.View.extend({
			tagName: "div",

			template: _.template($('#identity_form_template').html()),

			events: {
				"change input[type=text]": "updateModel",
				"change input[type=password]": "encryptPrivateKey",
				"click input[type=submit]": "save",
				"click input.generate": "generateKeyPair"
			},

			initialize: function() {
				this.listenTo(this.model, 'change', this.render);
				this.listenTo(this.model, 'destroy', this.remove);
			},

			generateKeyPair: function() {
				var key = new RSA();
				console.log("Requested bits: ", this.model.get("bits"));
				setTimeout((function(model) {
						return function() {
						key.generate(model.get("bits"), pubExp);
						window.key = key;
						console.log("Generated", key.prv2PEM());
				}})(this.model), 10);
				console.log("In course...", this);
			},

			save: function() {
				console.log("Has to talk to CouchDB");
			},

			render: function() {
				this.$el.html(this.template(this.model.toJSON()));
				return this;
			},

			updateModel: function(e) {
				this.model.set(e.target.name, e.target.value);
				console.log("Triggered updateModel event.");
				console.log(e.target.name, e.target.value);
			},

			encryptPrivateKey: function(e) {
				console.log("Triggered encryptPrivateKey event.", e);
			}
		});


		var AppView = Backbone.View.extend({
			el: $("#create_identity"),
			initialize: function() {
				$("#create_identity").html((new IdentityFormView({
					model: new_identity
				})).render().el);
			}
		});


		new AppView();

});
</script>


    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/dashboard/_design/dashboard/_rewrite/static/js/topbar.js"></script>

  <script type="text/javascript" src="../static/js/sha1.js"></script>
  <script type="text/javascript" src="../static/js/jquery.couchLogin.min.js"></script>
  <script type="text/javascript" src="../static/js/jquery.upopup.js"></script>
  <script type="text/javascript" src="../static/js/jquery.couch.js"></script>


  <script type="text/javascript">
  var _baseURL = window._baseURL = '../';
  </script>


  </body>
</html>
